# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/
*.db

# IDE
.vscode/
.idea/

# Docker
Dockerfile
.dockerignore

# Git
.git/
.gitignore

# Tests
tests/
*.test.py
